<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Form for Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Enter a word you would like to search and the sentence you would like to search through.</h1>
    <form action="/newCounter" method="post">
     <label for="word">Word to search for</label>
     <input id="word" name="word" type="text">
     <label for="sentence">Sentence to search through</label>
     <input id="sentence" name="sentence" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
